/** fix pretty-print tommorrow night 80 */
.prettyprint {
	padding-left: 0px;
	padding-right: 0px;
}
.prettyprint code{
  	background: #1d1f21;
  	padding-left: 0px;
	padding-right: 0px;
}
body{
	padding: 0;
}
#nav{
	border-right: solid 1px #ddd;
	padding: 0;
	padding-left: 10px;
	margin: 0;
	width: 220px;
	background: #033649;
}
#main{
	calc(100% - 220px);
	padding-left: 0;
	margin-left: 0;
	padding : 20px;
}
.prettyprint.linenums li.selected, .prettyprint.linenums li.selected *{
   background-color: #F4DE36;
}
.name{
	color: #BF4D28;
	font-weight: bold;
}
nav ul li a, nav ul li ul li a {
	color: #E8DDCB;
}
nav ul li a:hover, nav ul li ul li a:hover{
	color: #BF4D28;
}
h3.group-title{
	color: #CDB380;
}
dl.inherited-line{
	border-bottom: 1px solid hsl(0, 0%, 87%);
  	/* margin-bottom: 30px;
 	padding-bottom: 30px; */
}
input.search{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding : 5px 8px;
	background: #000;
	border: 0;
}
input.search:focus{
	background: #FFF;
	border: 0;
	outline: 0;
}
.className{
	color : #FFFDD1;
}